    body{
    margin: 0 auto;
    color: white;
    width: 400px;
}   
    /* div {
    color: white
} */
    .m-oya {
    font-size: 0;
    /* margin-left: 150px; */
    top: 20px;
    right: 20px;
    position: absolute;
    background-color: white;
    /* height: 60px;
    width: 160px; */
    padding: 10px;
}
    .m-oya :first-child{
    margin-left: 0px; 
}
    .m-oya :last-child{
    /* border-left: none; */
}
    .m-ko {
    background-color: #ce41c7;
    width: 40px;
    height: 40px;
    /* border: solid 10px white; */
    display: inline-block;
    margin-left: 10px;
    box-sizing: border-box;
}
    .ichi { 
    background: #141f40;
    width: 400px;
    height: 100px;
    position: relative;    
}
    .bigbox{
    width: 400px;
    height: 200px;
} 
    .bigbox:after {
    content: "";
    display: block;
    clear: both;
}
    .mint {
    background: #80bfa8;
    width: 150px;
    height: 200px;
    float: left;
}
    .o-oya{
    margin-left: 20px;
}
    .o-ko{
    background-color: #ff863f;
    width: 150px;
    height: 40px;
    border: solid 5px white;
    display: block;
    margin: 5px;
}
    .aka{
    background: #8c2727;
    width: 250px;
    height: 200px;
    float: left;
}
    .aka:after {
    content: "";
    display: block;
    clear: both;
  }
    .orange{
    background: #d98d30;
    width: 400px;
    height: 100px;
}


/* position: relative;
position: absolution;

box-sizing: border-box;
top: 20px;
right: 20px; */
